/*structure*/
html {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 300;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: 'Nixie One', serif;
  font-size: 3.3rem;
  padding-bottom: 2rem;
}

h2 {
  font-size: 1.6rem;
  font-weight: 400;
  padding-bottom: 16px;
  padding-top: 16px;
}

h3 {
  font-size: 2.4rem;
  font-family: 'Nixie One', serif;
}

h4 {
  font-weight: 400;
  font-size: 1.2rem;
  padding-bottom: 8px;
}

h2, h3, h4, p {
  line-height: 1.6;
}

a {
  color: #3dbcb9;
  text-decoration: none;
  transition: color 0.2s linear 0s;
  font-weight: 700;
}

a:hover {
  color: #219491;
}

.button {
  text-transform: uppercase;
  font-weight: 900;
  padding: 8px 50px;
  background-color: #3dbcb9;
  border-radius: 30px;
  color: #fff!important;
  text-decoration: none;
  transition: background-color 0.2s linear 0s;
  margin-bottom: 32px;
}

.button:hover {
  background-color: #219491;
}

.container {
  display: inline-flex;
  width: 100%;
}

.side-content {
  width: 40%;
  padding-left: 16px;
  flex-grow: 2;
  padding: 16px 0;
}

.lg-image {
  background-size: cover;
  background-position: center;
  width: 60%;
  margin: 32px 24px;
  flex-grow: 0;
  flex-shrink: 2;
}

/*navigation*/
.nav-container {
  background-color: #fff;
  position: fixed;
  width: 100%;
  display: inline-flex;
  height: 64px;
  z-index: 10;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  align-items: center;
  font-family: 'Lato';
  justify-content: space-between;
}

.nav-container li {
  display: inline;
  padding: 16px;
}

.logo {
  margin-left: 24px;
  height: 44px;
  padding-top: 10px;
  display: inline-flex;
  align-items: center;
  position: relative;
  bottom: 6px;
}

.mobile-nav {
  display: none;
}

/*header*/
.header {
  background-color: #ecf0f1;
  margin-top: 64px;
  align-items: center;
}

.hero {
  background-image: url("../images/banner.jpg");
  height: 600px;
}

.header h4 {
  padding-bottom: 3.2rem;
  font-weight: 300;
}

/*info and thesis*/
.info-featured {
  background-image: url("../images/information-main.jpg");
  height: 353px;
  display: block;
}

.info-featured h2 {
  padding-top: 369px;
}

.info-row {
  display: inline-flex;
  align-items: center;
  border-left: 1px #d8d8d8 solid;
  border-bottom: 1px #d8d8d8 solid;
  width: 100%;
  background-color: #fff;
  transition: background-color 0.2s linear 0s;
}

.last {
  border-bottom: none;
}

.info-row:hover {
  background-color: #e9f2f3;
}

.info-sq {
  width: 160px;
  margin: 16px;
}

.info-row p {
  padding-bottom: 16px;
}

/*tiles*/
.learn {
  background-color: #ecf0f1;
  justify-content: center;
}

.section-title {
  text-align: center;
  padding: 32px 0 16px 0;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.tile {
  background-color: #fff;
  display: block;
  margin: 16px;
  width: 334px;
}

.tile img {
  height: 180px;
  width: 334px;
  overflow: hidden;
}

.tile-text {
  padding: 16px;
  word-wrap: normal;
}

.courses {
  text-transform: uppercase;
  color: #d8d8d8;
  font-weight: 400;
}

/*footer*/
.footer {
  background-color: #219491;
  color: #fff;
  font-size: .8rem;
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  padding: 24px;
  margin-top: 24px;
  align-items: center;
}

.footer li {
  display: inline;
  padding: 16px;
  position: relative;
  right: 32px;
}

@media screen and (min-width:901px) {
  .info-banner {
    display: none;
  }
}


/*mobile*/
@media screen and (max-width: 900px) {
  body {
    margin: 0;
    top: 0;
    display: block;
  }

  .title {
    position: relative;
    left: -15px;
    word-wrap: normal;
  }

  .nav-container li {
    display: none;
  }

  .mobile-nav {
    display: inline-flex;
    padding: 16px;
    justify-content: space-between;
    width: 100%;
  }

  .logo {
    display: none;
  }

  h1 {
    font-size: 2.8rem;
  }

  .container {
    display: block;
    width: 100%;
  }

  .nav-container {
    top: 0px;
  }

  .lg-image {
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 32px 0;
  }

  .side-content {
    width: 100%;
    margin: 16px;
  }

  .hero {
    height: 180px;
    width: 100%;
  }

  .header {
    padding-bottom: 32px;
    text-align: center;
  }

  .info-featured, .info-sq, .lg-image h2 {
    display: none;
  }

  .info-banner {
    max-width: 100%;
    max-height: 160px;
    overflow: hidden;
    padding: 0 32px 0 2px;
  }

  .info-row {
    display: block;
    width: 100%;
    border: none;
  }

  .info-row:hover {
    background-color: #fff;
  }

  .info-text {
    padding: 16px 16px 24px 16px;
  }

  .learn {
    padding: 16px 0;
  }

  .tile img, p {
    display: none;
  }

  .tile {
    background-color: #fff;
    display: block;
    width: 90%;
    text-align: center;
    margin: 16px auto;
    align-items: center;
  }

  #side-thesis {
    display: none;
  }

  .footer li {
    display: none;
  }

  .footer p {
    display: block;
  }
}
