html {
  font-family: Helvetica;
  background-color: black;
  text-align: center;
}

body {
  margin: 0px;
}

a {
  color: white;
  font-size: 18px;
  text-decoration: underline;
}

h2 {
  color: white;
  font-weight: bold;
  font-size: 36px;
  margin: 10px 0;
}

h4, h3 {
  color: white;
  font-weight: bold;
  font-size: 22px;
  margin: 10px 0;
  line-height: 1.5em;
}

p {
  color: white;
  font-weight: normal;
  font-size: 22px;
  margin: 10px 0;
  line-height: 2em;
}

/*Nav*/
.fixed-nav {
  display: inline-flex;
  position: fixed;
  background-color: black;
  border-bottom: 1px solid seashell;
  width: 100%;
  height: 69px;
  z-index: 10;
  left: 0px;
  top: 0px;
}

.nav-logo {
  display: inline-flex;
  align-items: center;
  margin-left: 10px;
  width: 25%;
}

.nav-logo img {
  height: 50px;
}

.nav {
  display: inline-flex;
  width: 75%;
  justify-content: flex-end;
  margin-right: 10px;
}

.nav-links {
  display: inline-flex;
  margin: 0 10px;
  align-items: center;
}

/*Mission Header*/
#mission {
  display: flex;
  background-image: url("https://dsg-design.github.io/resources/images/img-mission.JPG");
  background-size: cover;
  height: 700px;
  width: 100%;
  margin-top: 69px;
  align-items: center;
  justify-content: center;
}

.header-overlay {
  background-color: black;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
}

/*Tea of the Month*/
#featured-column {
  display: flex;
  max-width: 1000px;
  justify-content: center;
  flex-flow: wrap row;
  margin: 0px auto;
  padding: 70px 0px;
}

.column-title {
  width: 100%;
}

.featured-images {
  display: block;
  justify-content: center;
  margin: 10px 15px;
}

.featured-images img {
  width: 300px;
  height: 200px;
  background-size: cover;
}

/*Locations*/
#locations-container {
  display: flex;
  background-image: url("https://dsg-design.github.io/resources/images/img-locations.JPG");
  background-size: cover;
  width: 100%;
  justify-content: center;
  flex-flow: wrap row;
  min-height: 500px;
  align-content: center;
}

.locations-title {
  width: 100%;
}

.locations {
  background-color: black;
  width: 300px;
  margin: 15px 20px;
  padding: 15px 0;
}

/*Footer*/
.footer {
  display: block;
  justify-content: center;
  margin-top: 50px;
}

.footer a {
  font-size: 22px;
}

.copyright{
  display: block;
}

.copyright p {
  font-size: 18px;
  margin-left: 20px;
  text-align: left;
}
